<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Title</title>
</head>
<body>
<h1>Example heading <span class="badge badge-secondary">New</span></h1>
    {% block header %}{% endblock %}<br>
    {% block navigation %}{% endblock %}
    {% block body %}{% endblock %}
    {% block footer %}{% endblock %}
</body>
</html>