<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %} | Home</title>
    <!-- for-mobile-apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!-- //for-mobile-apps -->
    <link href="../../public/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../public/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="../../public/css/jquery.fancybox.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!--fonts-->
    <link href="//fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Courgette" rel="stylesheet">
    <!--//fonts-->
</head>
<body>
    {% block data %}{% endblock %}
    <br>
    <!--footer-->
    <div class="footer" >
        <div class="aboutus-right-wthree">
            <ul>
                <li><a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-google-plus" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="#"><i class="fab fa-pinterest-p" aria-hidden="true"></i></a></li>
            </ul>
        </div>
        <div class="copy">
            <p>© {{year}} <a href="https://github.com/yaurau/yaurau-framework">Yaurau framework</a> . All Rights Reserved
            </p>
        </div>
    </div>
    <!--/footer -->
    <!-- js -->
    <script src="../../public/js/jquery.js"></script>
    <script src="../../public/js/bootstrap.min.js"></script>
    <script src="../../public/js/yaurau.js"></script>
    <script src="../../public/js/jquery.fancybox.js"></script>

    {% block javascript %}{% endblock %}
    <!-- //js -->
</body>
</html>