{% extends 'login.html.twig' %}
{% block data %}
    <!--Top-Bar-->
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg  ">
        <a class="navbar-brand" href="../index.php">{{title}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex" >
                <li class="nav-item active">
                    <a class="nav-link" href="../index.php">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <!--//Top-Bar-->
    <br>
    <div class="container">
        <h2>Для создания сайта заполните следующие поля:</h2>
        <form method="post" action="/view/login.php">
            <div class="form-group">
                <label for="exampleInputPassword1">Имя базы данных</label>
                <input class="form-control" type="text" placeholder="Имя базы данных" name="name_DB">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Имя пользавателя базы данных</label>
                <input class="form-control" type="text" placeholder="Имя пользавателя базы данных" name="login_DB">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Пароль к базе данных</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password_DB">
            </div>
            <input type="submit" class="btn btn-primary" name="submit" id="submit">
        </form>
        <br>
    </div>
{% endblock %}
{% block navigation %}

{% endblock %}
{% block footer %}
    Created by {{ creater }}
{% endblock %}