/*--gallery--*/
.gallery {
    padding: 60px 0px 70px;
}

.da-thumbs {
	list-style: none;
	position: relative;
	margin: 0;
	padding: 0;
}

.da-thumbs li {
    float: left;
    margin: 0.4%;
    padding: 3px;
    position: relative;
    width: 32.4%;
}

.da-thumbs li a,
.da-thumbs li a img {
  display: block;
  position: relative;
  width: 100%;
}

.da-thumbs li a {
	overflow: hidden;
}

.da-thumbs li a div {
    position: absolute;
    background: rgba(3, 55, 70, 0.63);
    width: 100%;
    height: 100%;
}

.da-thumbs li a div p {
  display: block;
     padding: 0 0;
    margin: 5px 20px 10px 20px;
  font-weight: normal;
  text-transform: capitalize;
  color: rgba(255,255,255,0.9);
  text-align: center;
  font-size:0.95em;
  line-height:1.9em;

}

.da-thumbs li a div  h5 {
    color: #FFF;
    font-size: 2.3em;
    margin: 2em 0 0 0;
    text-align: center;
    text-transform: capitalize;
	font-family: 'Roboto Condensed', sans-serif;
}

.da-thumbs li a div h5 span {
    color: #B56D10;
}

.da-thumbs li a div h5 span {
    color: #da8b25;
}

.team-sec {
    padding: 0;
}
/* --walk-- */
.padding-upcoming span{
	color:red;
}

.trailer iframe {
	width: 100%;
	height:440px;
}

.trailer {
		padding-left: 0;
}

.sub-img {
	width:34%;
	float: left;
}

.sub-img img{
	width:82%;
}

.sub-text {
    float: right;
    width: 66%;
    margin: 0px;
}

.sub-text h4 {
    text-align: left;
    padding: 0.5em;
    background-color: #fff;
    line-height: 1.6em;
    text-decoration: none;
    display: block;
    color: #000;
    font-size: 1.4em;
    font-weight: 400;
}

.sub-text p {
    font-size: 1em;
    line-height: 1.9em;
    color: #888;
    margin-top: 8px;
}
.gallery-grids {
    margin-top: 2em;
}
/*--//gallery--*/
/*--offer-section--*/
.gray-background {
    background-color: #cdd4da;
    padding-top: 15px;
    padding-bottom: 15px;

}


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
.offer-grid {
    margin-top: 55px;
    padding: 0px 45px;
    text-align:center;
}

.offer-w3layouts {
    background: #ffffff;
    padding: 60px 0px 70px;
}

h3.tittle{
    color: #000000;
    font-size: 30px;
    text-align: center;
    margin-bottom: 10px;
    text-transform: uppercase;
}
h3.tittle.two{
    color: #ffffff;
}

h3.tittle span{
    color:#1a5e71;
}

.offer-header-agile p {
    color: #838383;
    font-size: 18px;
    text-align: center;
}

.icon {
    background: rgba(26, 94, 113, 0.83);
    width: 100px;
    height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -o-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    margin: 0 auto;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.offer-grid i {
    color: #ffffff;
    font-size: 35px;
    padding: 20px 20px;
    line-height: 59px;
}

.offer-grid h4 {
    text-transform: uppercase;
    font-size: 18px;
    margin: 33px 0px 11px;
}

.offer-grid p {
    text-align: center;
    font-size: 15px;
    color: #777;
    line-height: 1.8em;
    margin-bottom: 27px;
}

.offer-grid:hover .icon {
    background: #b56d10;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.offer-grid:hover .readmore-w3 a  {
    background: #b56d10;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.readmore-w3 a {
    background: rgba(26, 94, 113, 0.83);
    text-transform: uppercase;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px;
    text-decoration:none;
    color: #fff;
    font-size: 1em;
    padding: 8px 20px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--//offer-section--*/
/*--footer--*/
.footer {
    background: #232121;
    color: #ffffff;
    padding-top: 30px;
    padding-bottom: 35px;
}

.logo-w3ls h2 a {
    font-size: 19px;
    padding: 5px 10px;
    margin: 0em 16em;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
}

.aboutus-right-wthree{
	width: 100%;
}

.aboutus-right-wthree ul {
    margin-top: 14px;
}

.aboutus-right-wthree ul li {
    display: inline-block;
    margin-right: 7px;
    width: 35px;
    height: 35px;
    background: rgba(26, 94, 113, 0.83);
    border-radius: 50px;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.aboutus-right-wthree ul li:hover{
	background:#b56d10;
    -webkit-transform: rotateY(360deg);
	-moz-transform: rotateY(360deg);
	-o-transform: rotateY(360deg);
	-ms-transform: rotateY(360deg);
	transform: rotateY(360deg);
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.aboutus-right-wthree ul li i {
    color: #fff;
    padding-left: 12px;
    padding-top: 9px;
}

/*--copy-right--*/
.copy {
    text-align: center;
    border-top: 1px ridge rgba(50, 50, 50, 0.92);
    padding-top: 1em;
    margin-top: 15px;
}

.copy p {
    color: #fff;
    font-size: 1em;
    margin-top: 15px;
}

.copy p a {
    color: #1B5464;
    text-decoration: none;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.copy p a:hover{
	color:#b56d10;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*--//copy-right--*/
/*--//footer--*/
/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 1%;
	overflow: hidden;
	z-index: 999;
    width: 64px;
    height: 64px;
	border: none;
	text-indent: 100%;
	background: url("../img/arr.png") no-repeat 0px 0px;
}

#toTopHover {
    width: 64px;
    height: 64px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

